<!-- FILEPATH: /home/sven/Documents/OnTopAds/OtaPWA/templates/settings.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>User Information</h1>
    <ul>
        <li>ID: {{ result[0] }}</li>
        <li>First Name: {{ result[1] }}</li>
        <li>Last Name: {{ result[2] }}</li>
        <li>Email: {{ result[3] }}</li>
        <li>Phone Number: {{ result[5] }}</li>
        <li>Location: {{ result[6] }}</li>
        <li>Username: {{ result[7] }}</li>
        <li>Account Type: {{ result[8] }}</li>
        {% if result[8] == 'business' %}
            <li>Business Name: {{ result[9] }}</li>
            <li>Business Address: {{ result[10] }}</li>
            <li>Business Website: {{ result[11] }}</li>
        {% endif %}
        <li>Facebook Password: {{ result[12] }}</li>
        <li>Craigslist Password: {{ result[13] }}</li>
        <li>Kijiji Password: {{ result[14] }}</li>
        <li>Ebay Password: {{ result[15] }}</li>
        <li>Pinkbike Password: {{ result[16] }}</li>
    </ul>
{% endblock %}

